.Title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.my_name {
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
    width: 100%;
}

.my_name h5 {
    display: block;
    font-size: 1.4em;
    margin: 0;
    font-weight: bold;
    animation: fadeIn 1.375s;
}

.title_container {
    margin-top: auto;
    margin-bottom: auto;
}

.title_container h1 {
    font-size: 8.5vw;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
}

.t_c_1 {
    animation: reveal 1.5s cubic-bezier(0.25, 1, 0.25, 1);
    -webkit-animation: reveal 1.5s cubic-bezier(0.25, 1, 0.25, 1);
    -moz-animation: reveal 1.5s cubic-bezier(0.25, 1, 0.25, 1);
    -o-animation: reveal 1.5s cubic-bezier(0.25, 1, 0.25, 1);
    -ms-animation: reveal 1.5s cubic-bezier(0.25, 1, 0.25, 1);
}

.t_c_2 {
    animation: reveal 2s cubic-bezier(0.25, 1, 0.25, 1);
    -webkit-animation: reveal 2s cubic-bezier(0.25, 1, 0.25, 1);
    -moz-animation: reveal 2s cubic-bezier(0.25, 1, 0.25, 1);
    -o-animation: reveal 2s cubic-bezier(0.25, 1, 0.25, 1);
    -ms-animation: reveal 2s cubic-bezier(0.25, 1, 0.25, 1);
}

.t_c_3 {
    animation: reveal 2.5s cubic-bezier(0.25, 1, 0.25, 1);
    -webkit-animation: reveal 2.5s cubic-bezier(0.25, 1, 0.25, 1);
    -moz-animation: reveal 2.5s cubic-bezier(0.25, 1, 0.25, 1);
    -o-animation: reveal 2.5s cubic-bezier(0.25, 1, 0.25, 1);
    -ms-animation: reveal 2.5s cubic-bezier(0.25, 1, 0.25, 1);
}

.picture_container {
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.picture_container img {
    max-height: 600px;
}

.picture_container div {
    display: block;
    font-size: 1.4em;
    margin: 0;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

/* REVEAL ANIMATION */

@keyframes reveal {
    0% {transform: scale(0.875) translate(0px, 100%) rotate3d(1, 0, 0, -90deg); opacity: 0%;}
    100% {transform: scale(1); opacity: 100%;}
}

@-moz-keyframes reveal {
    0% {transform: scale(0.875) translate(0px, 100%) rotate3d(1, 0, 0, -90deg); opacity: 0%;}
    100% {transform: scale(1); opacity: 100%;}
}

@-webkit-keyframes reveal {
    0% {transform: scale(0.875) translate(0px, 100%) rotate3d(1, 0, 0, -90deg); opacity: 0%;}
    100% {transform: scale(1); opacity: 100%;}
}

@-o-keyframes reveal {
    0% {transform: scale(0.875) translate(0px, 100%) rotate3d(1, 0, 0, -90deg); opacity: 0%;}
    100% {transform: scale(1); opacity: 100%;}
}

@-ms-keyframes reveal {
    0% {transform: scale(0.875) translate(0px, 100%) rotate3d(1, 0, 0, -90deg); opacity: 0%;}
    100% {transform: scale(1); opacity: 100%;}
}