.Skills {
    margin-top: 10vh;
}

.Skills h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.Skills p {
    line-height: 1.75;
    font-size: 2rem;
    margin: 0;
}

.skillText {
    margin-bottom: 50px;
}

.toolsList ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
}

.toolsList ul li {
    background-color: #212120;
    color: #f7f7f5;
    padding: 4px 7px;
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 5px;
}

@media(max-width: 760px) {
    .Skills h1 {
        font-size: 28px;
    }
    .Skills p {
        font-size: 20px;
    }

    .toolsList ul li {
        margin-top: 5px;
        margin-right: 5px;
    }
}