.Skills {
    opacity: 0;
    transition: opacity 1.5s;
}

.scrollClass {
    opacity: 1;
}

.Skills h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.Skills p {
    line-height: 1.75;
    font-size: 2rem;
    margin: 0;
}