.Skills {
    opacity: 0;
    transition: opacity 1.5s;
}

.scrollClass {
    opacity: 1;
}

.Skills h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.Skills p {
    line-height: 1.75;
    font-size: 2rem;
    margin: 0;
}

.skillText {
    margin-bottom: 50px;
}

.toolsList ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
}

.toolsList ul li {
    background-color: #212120;
    color: #f7f7f5;
    padding: 4px 7px;
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 5px;
}